extends layout.pug

block appContent
    .wrapper
    nav#sidebar
        .sidebar-header
        h3 Bootstrap Sidebar
        ul.table-bordered
            li move
            
            //poner block aca
            li sounds
            //poner block aca
            li show